body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: 'white';
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}
